@charset "UTF-8";

body {
    font: normal 16px arial;
    background: rgb(94, 145, 161);
}

header {
    text-align: center;
    color: white;
}

section {
    width: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}

.sel {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.sel select {
    max-width: 170px;
}

.sel input {
    max-width: 100px;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}