@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
    ;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(19, 22, 68), rgb(36, 40, 97), rgb(59, 65, 151))
}

main h1 {
    background-color: rgba(0, 0, 0, 0.384);
    padding: 0px 50px;
    color: white;
    border-radius: 5px;
}

.calculadora {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btnf .botao {
    padding: 25px;
    border-radius: 20%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
}

.btn1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn1 #resultado {
    min-width: 180px;
    max-width: 250px;
    padding: 10px 5px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);

}

.btn1 .limpa {
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    font-size: 1.1em;
    font-weight: bold;
    
}

.botao {
    font-size: 1.1em;
    font-weight: bold;
}

.botao:hover {
    background-color: rgba(65, 67, 187, 0.74);
    color: white;
}