@charset "UTF-8";


body {
    font: normal 16px arial;
    background: rgb(94, 145, 161);
}

header {
    text-align: center;
    color: white;
}

section {
    width: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dados input {
    max-width: 450px;
}

#botao {
    margin-top: 10px;
    max-width: 150px;
    
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}